<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tsxygfy.beyond.mapper.CommentsMapper">
  <resultMap id="BaseResultMap" type="cn.tsxygfy.beyond.model.po.Comments">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="p_id" jdbcType="BIGINT" property="pId"/>
    <result column="c_id" jdbcType="BIGINT" property="cId"/>
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle"/>
    <result column="article_id" jdbcType="BIGINT" property="articleId"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="c_name" jdbcType="VARCHAR" property="cName"/>
    <result column="time" jdbcType="BIGINT" property="time"/>
    <result column="email" jdbcType="VARCHAR" property="email"/>
    <result column="url" jdbcType="VARCHAR" property="url"/>
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="device" jdbcType="VARCHAR" property="device" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_comments
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.tsxygfy.beyond.model.po.Comments">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
      insert into tb_comments (p_id, c_id, article_title,
      article_id, name, c_name,
      time, email, url, type,
      ip, device, address,
      content)
      values (#{pId,jdbcType=BIGINT}, #{cId,jdbcType=BIGINT}, #{articleTitle,jdbcType=VARCHAR},
      #{articleId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{cName,jdbcType=VARCHAR},
      #{time,jdbcType=BIGINT}, #{email,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
      #{ip,jdbcType=VARCHAR}, #{device,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.tsxygfy.beyond.model.po.Comments">
    update tb_comments
    set p_id = #{pId,jdbcType=BIGINT},
    c_id = #{cId,jdbcType=BIGINT},
    article_title = #{articleTitle,jdbcType=VARCHAR},
    article_id = #{articleId,jdbcType=BIGINT},
    name = #{name,jdbcType=VARCHAR},
    c_name = #{cName,jdbcType=VARCHAR},
    time = #{time,jdbcType=BIGINT},
    email = #{email,jdbcType=VARCHAR},
    url = #{url,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      device = #{device,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
      select id, p_id, c_id, article_title, article_id, name, c_name, time, email, url,
      type, ip, device, address, content
      from tb_comments
      where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, p_id, c_id, article_title, article_id, name, c_name, time, email, url,
    type, ip, device, address, content
    from tb_comments
  </select>
    <select id="getCount" resultType="java.lang.Long">
    select count(1)
    from tb_comments
  </select>
</mapper>
